<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>

</head>
    <body>
        <form action="{% url 'djangoapp:add_review' dealer_id %}"  method="post">
            <label for="content"><b>Type your review:</b></label>
            <textarea class="form-control" id="content" name="content" rows="2" required placeholder="Wow, this car dealer is amazing!"></textarea>
            <label for="purchasecheck">Has purchased the car from {{dealer.full_name}}</label>
            <input class="form-check-input" type="checkbox" name="purchasecheck" id="purchasecheck">
            <select name="car" id="car" class="form-select" required>
                {% for car in cars %}
                    <option selected value={{car.id}}>{{car.name}}-{{car.make.name}}-{{ car.year|date:"Y" }}</option>
                {% endfor %}
           </select>
           <label for="purchasedate"><b>Select Your Purchase Date:</b></label>
           <input class="date-own form-control" type="text" name="purchasedate" id="purchasedate">
           <button class="btn btn-dark" type="submit">Submit Review</button>
    </body>
    <script type="text/javascript">
        $('.date-own').datepicker({
           format: 'mm/dd/yyyy'
         });
   </script>
</html>